<h1>TOP</h1>

<% if current_user %>
<p>ログイン中のユーザーは<%= current_user.email %>です</p>
<% end %>

<p><%= link_to "Register", signup_path %></p>
<p><%= link_to "Login", signin_path %></p>
<p><%= link_to "Logout", signout_path %></p>